/* breakpoints: 321, 721 */
/* container width: 960 */
/* primary color: #4F4D6A */
/* secondary color: #9d8696 light: #cabbc4 */
/* works bg: #EBEBEB */
/* footer bg: #505050 */

@import url("./fonts.css");
@import url("./reset.css");

.container {
    width: min(85%, 960px);
    margin: 0 auto;
}

.nav-hero {
    background: linear-gradient(90deg, rgba(79, 77, 106, 0.1) 20%, rgba(157, 134, 150, 0.5) 80%), linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(79, 77, 106, 0.4) 80%), url('../assets/bgimg.jpg');
    background-size: cover;
    min-height: 113vh;
}